<div>
  <table *ngIf = "flight" class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Departure</th>
      <th>Destination</th>
      <th>Scheduled</th>
      <th>Price</th>
      <th>Available seats</th>
      <th>Airline</th>
    </thead>
    <tbody>
      <tr>
        <td>{{flight.id}}</td>
        <td>{{flight.departure.name}}</td>
        <td>{{flight.destination.name}}</td>
        <td>
          <table>
            <tr>d: {{flight.departureTime | date : 'dd/MM/yyyy HH:mm'}}</tr>
            <tr>a: {{flight.arrivalTime | date : 'dd/MM/yyyy HH:mm'}}</tr>
          </table>
        </td>
        <td>€{{flight.basePrice}}</td>
        <td>
          <table>
            <tr *ngFor="let seat of flight.availableSeats | keyvalue">{{seat.key}}:{{seat.value}}</tr>
          </table>
        </td>
        <td>{{flight.airline.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
