<div class ="container">
  <div class = "card">
    <h3 class="text-center">Flights</h3>
    <div class = "card-body">
      <table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>Departure time</th>
          <th>Arrival time</th>
          <th>Base Price</th>
        </thead>
        <tbody>
        <tr>
          <td> {{flight.id}}</td>
          <td> {{flight.departureTime}}</td>
          <td> {{flight.arrivalTime}}</td>
          <td> {{flight.basePrice}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
